/* IMPORTs */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* IDs*/
#main-sect {
    background: url("/static/addon/image/blackboard-chalkboard-communication.jpg");
}
#index-sect-first {
    background: url("/static/addon/image/blurred-background-cellphone-coffee.jpg");
}

#username-space {
    margin-left: 0.5rem;
}

/* Classes */

.default-section {
    height: 100%;
    margin-top: 3rem;
    padding: 1rem 2rem;
}
.footer {
    padding: 2rem 0;
}

/* General */
* {
    font-family: 'Raleway', sans-serif;
}