{% extends 'base.html' %}

{# Load static files #}
{% load static %}

{% block content%}
{% if user.is_authenticated %}
<div class="container-fluid default-section" id="index-sect-first">
{% else %}
<div class="container-fluid default-section" id="main-sect">
{% endif %}
        <div class="container default-section" style="padding: 4rem 2.5rem; background-color: rgba(248,249,250, 0.7); border-radius: 2rem;">
        <h1 class="font-weight-bold">Donate to us</h1>
        <p>Like what you are using? Help us out by donate a small token of appreciation so that we can continue to serve you better.</p>
        <form method="GET" action="{% url 'charge' %}">
            <div class='form-group'>
                <label class='label'>Amount (in SGD)</label>
                <div class="block">
                    <input type='text' class='form-control' name='amount' style="width: 23rem;" required/>
                </div>
            </div>
            <input type="submit" value="Donate"/>
        </form>
    </div>
</div>
{% endblock %}