{% extends 'base.html' %}

{# Load static files #}
{% load static %}

{% block page_heading %}Donate to us!{% endblock %}

{% block content%}
<form method='POST' class='form'>
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="Donate"
          data-amount="{{amount}}"
          data-locale="auto"></script>
    <input type='hidden' name='amount' value='{{amount}}'/>
</form>
{% endblock %}