{% extends 'base.html' %}

{# Load static files #}
{% load static %}

{% block page_title %}Report Bug | BuggyReporter{% endblock %}

{% block page_heading %}Report Bug{% endblock %}

{% block content %}
<div class="container-fluid default-section" id="index-sect-first">
    <div class="container default-section">
        <form method='POST'>
            {% csrf_token %} 
            {{ form.as_p }}
            <input type="submit" value="Report Bug"/>
        </form>
    </div>
</div>
{% endblock %}