<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Bugs List</h1>
    <ul>
        {% for b in bugs %}
        <li>
            [{{b.category.name}}] {{b.name}} | <a href='edit/{{ b.id }}'>Edit</a>
            {% for bug_tag in b.tags.all %}
            <span>#{{ bug_tag.name }}</span>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>